@font-face {
    font-family: 'icons';
    src:
      url('../fonts/icons.ttf?uk8k2j') format('truetype'),
      url('../fonts/icons.woff?uk8k2j') format('woff'),
      url('../fonts/icons.svg?uk8k2j#icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-book:before {
    content: "\e900";
  }
  .icon-link:before {
    content: "\e901";
  }
  .icon-user:before {
    content: "\e902";
  }
  .icon-thunderbolt:before {
    content: "\e903";
  }
  .icon-photoshop:before {
    content: "\e904";
    color: #00c8ff;
  }
  .icon-airbnb:before {
    content: "\e905";
    color: #ff5a5f;
  }
  .icon-amazon:before {
    content: "\e906";
    color: #f90;
  }
  .icon-android:before {
    content: "\e907";
    color: #a4c639;
  }
  .icon-angular:before {
    content: "\e908";
    color: #dd0031;
  }
  .icon-apple:before {
    content: "\e909";
    color: #999;
  }
  .icon-bitbucket:before {
    content: "\e90a";
    color: #0052cc;
  }
  .icon-bitcoin:before {
    content: "\e90b";
    color: #f7931a;
  }
  .icon-codepen:before {
    content: "\e90c";
  }
  .icon-css3:before {
    content: "\e90d";
    color: #1572b6;
  }
  .icon-disqus:before {
    content: "\e90e";
    color: #2e9fff;
  }
  .icon-dropbox:before {
    content: "\e90f";
    color: #0061ff;
  }
  .icon-evernote:before {
    content: "\e910";
    color: #2dbe60;
  }
  .icon-facebook:before {
    content: "\e911";
    color: #3b5998;
  }
  .icon-ghost:before {
    content: "\e912";
    color: #718087;
  }
  .icon-git:before {
    content: "\e913";
    color: #f14e32;
  }
  .icon-github:before {
    content: "\e914";
  }
  .icon-gitlab:before {
    content: "\e915";
    color: #e24329;
  }
  .icon-graphql:before {
    content: "\e916";
    color: #e10098;
  }
  .icon-gulp:before {
    content: "\e917";
    color: #da4648;
  }
  .icon-html5:before {
    content: "\e918";
    color: #e34f26;
  }
  .icon-instagram:before {
    content: "\e919";
    color: #11081F;
  }
  .icon-javascript:before {
    content: "\e91a";
    color: #f7df1e;
  }
  .icon-medium:before {
    content: "\e91b";
  }
  .icon-meetup:before {
    content: "\e91c";
    color: #ed1c40;
  }
  .icon-npm:before {
    content: "\e91d";
    color: #cb3837;
  }
  .icon-playstation4:before {
    content: "\e91e";
    color: #003791;
  }
  .icon-react:before {
    content: "\e91f";
    color: #61dafb;
  }
  .icon-redux:before {
    content: "\e920";
    color: #764abc;
  }
  .icon-stylus:before {
    content: "\e921";
  }
  .icon-swarm:before {
    content: "\e922";
    color: #ffa633;
  }
  .icon-twitter:before {
    content: "\e923";
    color: #1da1f2;
  }
  .icon-vim:before {
    content: "\e924";
    color: #019733;
  }
  .icon-webpack:before {
    content: "\e925";
    color: #8dd6f9;
  }
  .icon-wikipedia:before {
    content: "\e926";
  }
  .icon-windows:before {
    content: "\e927";
    color: #0078d6;
  }
  .icon-youtube:before {
    content: "\e928";
    color: #f00;
  }
  